.call-us {
    padding: 50px 0;
    background-color: $vintage-color;
    text-align: center;
    color: $beige-color;
    .main-btn {
        color: $beige-color;
        border-color: $beige-color;
        &:hover {
            background-color: $beige-color;
            color: $vintage-color;;
        }
    }
}