.feature 
    .container 
        .content 
            .box(data-aos="fade-right" data-aos-duration="1000")
                    a(href="wedding.html")
                        h2 Wdding Day  
                    p The Big Day
                    i.fa-solid.fa-arrow-right
            .box(data-aos="fade-right" data-aos-duration="2000")
                    a(href="engagement.html")
                        h2 Engagement 
                    p The Begining.
                    i.fa-solid.fa-arrow-right
            .box(data-aos="fade-right" data-aos-duration="3000")
                    a(href="casual.html")
                        h2 Casual
                    p Book Your Day Easily .
                    i.fa-solid.fa-arrow-right