.portfolio-section(data-aos="fade-up")
    .container 
        p "As a wedding photographer, I capture the magic and romance of your special day with creativity and passion. 
            |Check out my previous work below and let's bring your special day memories to life!"
        .content  
            .box
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                a(href="https://fontawesome.com/icons/instagram?f=brands&s=solid")
                    h2 Wedding 
                i.fa-solid.fa-arrow-right
            div
                .box
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    a(href="https://fontawesome.com/icons/instagram?f=brands&s=solid")
                        h2 Engagement 
                    i.fa-solid.fa-arrow-right
                .box
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    a(href="https://fontawesome.com/icons/instagram?f=brands&s=solid")
                        h2 Casual 
                    i.fa-solid.fa-arrow-right    