.view(data-aos="fade-up")
    .container 
        h2 Enjoy Watching...
        .owl-carousel.owl-theme
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
        p(data-aos="fade-right") Wedding photos are precious memories that capture the beautiful moments and happy 
            |times shared by loved ones. These photos can be filled with laughter, joy, 
            |and genuine smiles, and they can express feelings of love, loyalty, and belonging. 
            |When we look at these photos, we recall our memories and relive them, 
            |feeling the happiness and joy we felt on that special day. 
            |They are pictures that hold many beautiful and special memories, 
            |and remain eternal in our hearts and minds.
        .bar
            span 
        