.welcome 
    .container 
        .text(data-aos="fade-up")
            h2 Welcome To Islam Esmaeil Photographie
            p Capture your love story in beautiful, timeless photographs. Our wedding photography service combines artistic vision with technical expertise to create stunning images that preserve the memories and emotions of your special day. 
                | Trust us to turn your wedding into a visual masterpiece that you'll cherish forever.
        .bar
            span 
        .category(data-aos="fade-down")
            h3 Take A Journey Through My Portfolio
            .content 
                .box
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    a(href="wedding.html")
                        h2 Wedding 
                    i.fa-solid.fa-arrow-right
                .box
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    a(href="engagement.html")
                        h2 Engagement 
                    i.fa-solid.fa-arrow-right
                .box
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    a(href="casual.html")
                        h2 Casual 
                    i.fa-solid.fa-arrow-right
            a.main-btn(href="#") view full portfolio 
            p Photography Is A Way Of Feeling Of Touching,
                |Of Loving. What You Have Caught On Pictures Is Captured Forever It Remembers Little Things, 
                |Long After You Have Forgotten Everything
