.whoami
    .container 
        .about-me
            .info(data-aos="fade-right")
                h2 Who is Islam Badr ?
                p Hello am Islam i am professional wedding photographer from Egypt .
                    |As a wedding photographer, 
                    |my goal is to capture the magic of your special day and transform it into a visual 
                    |masterpiece that you can cherish forever. With a keen eye for detail and a passion for 
                    |storytelling, I use my artistic vision and technical expertise to create stunning 
                    |photographs that capture the emotions, beauty, and unique essence of your wedding. 
                    |Whether it's the tender moments between the bride and groom, the laughter and joy of family and 
                    |friends, or the beauty of the surroundings, I am committed to documenting every aspect of your 
                    |wedding with a creative and modern approach. Trust me to capture the essence of your love story 
                    |and create a timeless treasure that you'll be proud to share with your loved ones for years to 
                    |come.
            img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...' data-aos="fade-left")
        .bar 
            span 
        .about-team 
            h3(data-aos="fade-right") Eslam Esmaeil photographie Team
            p(data-aos="fade-left") Our integrated team of professional and creative photographers is 
                |dedicated to providing wedding photography services of the highest quality. We understand
                | the importance of this occasion to you, and as such, we work with seriousness and great 
                |care to ensure that every moment is documented perfectly. We will be with you every step 
                |of the way, from planning to the last moments, 
                |to ensure that you have a beautiful and memorable experience worth cherishing forever.
            .team-members 
                .member(data-aos="fade-right")
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-right") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-left") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-left") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-right") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-right") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-left") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 
                .member(data-aos="fade-left") 
                    img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
                    h2 Elsayed Hassan
                    span CEO 