.home {
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.1) url('../imgs/wallpaperflare.com_wallpaper (44).jpg') no-repeat center/cover;
    background-blend-mode: overlay;
    position: relative;
    .info {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        color: $beige-color;
        text-align: center;
        h2 {
            font-weight: bold;
            margin-bottom: 25px;
        }
        p {
            letter-spacing: 8px;
        }
    }
}