-var pagetitle="Book Now"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body 
        .book
            include pug/components/nav
            include pug/layout/home-section
            include pug/components/main-form
            include pug/components/call-us
            include pug/components/footer
            include pug/components/scripts