-var pagetitle="Casual Portfolio"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body
        include pug/components/nav
        include pug/layout/home-section
        include pug/layout/view
        include pug/layout/feature
        include pug/components/footer
        include pug/components/scripts