-var pagetitle="clients"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body 
        .clients
            include pug/components/nav
            include pug/components/clients-fed
            include pug/components/footer
            include pug/components/scripts