.clients-items 
    .container 
        .client 
            img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .info 
                i.fa-brands.fa-instagram
                h2 Ahmed & Mona 
                a(href="#") 
                    i.fa-solid.fa-arrow-right
        .client 
            img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .info 
                i.fa-brands.fa-instagram
                h2 Ahmed & Mona 
                a(href="#") 
                    i.fa-solid.fa-arrow-right
        .client 
            img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .info 
                i.fa-brands.fa-instagram
                h2 Ahmed & Mona 
                a(href="#") 
                    i.fa-solid.fa-arrow-right
        .client 
            img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .info 
                i.fa-brands.fa-instagram
                h2 Ahmed & Mona 
                a(href="#") 
                    i.fa-solid.fa-arrow-right