.follow(data-aos="fade-down")
    h3 Follow me on Instagram
    .images 
        a(href="https://fontawesome.com/icons/instagram?f=brands&s=solid")
            img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
        a(href="")
            img(src='imgs/wallpaperflare.com_wallpaper (44).jpg' alt='...')
        a(href="")
            img(src='imgs/wallpaperflare.com_wallpaper (45).jpg' alt='...')
        a(href="")
            img(src='imgs/wallpaperflare.com_wallpaper (46).jpg' alt='...')
    i.fa-brands.fa-instagram
    a(href) @eslamesmaeil