.footer
    .container
        .wrapper
            p All Content Copyright © 2023 Islam Badr Photographie
            .social
                a(href="#")  
                    i.fa-brands.fa-facebook
                a(href="#")  
                    i.fa-brands.fa-instagram


