.pack-items 
    .container 
        .content 
            .pack-item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .pack-item
                img(src='imgs/wallpaperflare.com_wallpaper (44).jpg' alt='...')
            .pack-item
                img(src='imgs/wallpaperflare.com_wallpaper (43).jpg' alt='...')
            .pack-item
                img(src='imgs/wallpaperflare.com_wallpaper (45).jpg' alt='...')
        a.main-btn(href='/images/myw3schoolsimage.jpg' download='') download the pdf