link(rel="stylesheet", href="css/bootstrap.min.css")
//- link(rel="stylesheet", href="css/owl.carousel.min.css")
//- link(rel="stylesheet", href="css/owl.theme.default.min.css")
link(rel="stylesheet", href="css/aos.css")
link(rel="stylesheet", href="css/animate.min.css")
link(rel="stylesheet", href="css/main.css")
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap' rel='stylesheet')

